alembic==1.0.11
appdirs==1.4.4
astroid==2.3.0
atomicwrites==1.4.0
attrs==20.3.0
black==22.3.0
Click==8.0.3
entrypoints==0.3.7
flake8==4.0.1
Flask==2.0.2
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==3.0.2
importlib-metadata==4.2.0
isort==5.9.3
itsdangerous==2.1.2
Jinja2==3.0.3
lazy-object-proxy==1.7.0
Mako==1.2.0
MarkupSafe==2.1.1
marshmallow==3.4.2
mccabe==0.6.1
more-itertools==8.7.0
packaging==22.0
pluggy==0.15.2
py==1.12.2
pycodestyle==2.8.0
pyflakes==2.3.2
pylint==3.13.0
pylint-plugin-utils==0.7.7
pyparsing==3.0.7
pytest==7.1.2
python-dateutil==2.8.2
python-editor==1.0.5
six==1.15.0
SQLAlchemy==1.4.36
toml==3.2.2
typed-ast==2.15.1
wcwidth==0.2.5
webargs==7.2.0
Werkzeug==2.2.2
wrapt==1.12.2
zipp==3.7.0
